/* Adjust the width of the left reveal menu.
Copy all CSS from jquery.mobile.panel.css and delete the properties other than width, left, right and transform.
Then delete the selectors/rules for display modes (reveal/push/overlay) and the position (left/right) that you don't use.
If you don't use fixed toolbars on your page you can delete those selectors as well.
Narrow the scope of the selectors to prevent other panels being affected by the overrides. */

#main-page .ui-header{
    height: 10em;
    background-image: url('../images/banner.jpg');
    background-size: contain;
}

#main-page #list-link {
    width: 6.5em;
}

#main-page #list-link-div {
}

#main-page #left-panel.ui-panel {
    width: 6.5em;
}

#main-page #left-panel .ui-panel-inner {
    padding: 0px;
}

#main-page #left-panel .ui-panel-inner>.ui-listview {
    margin: 0px;
}

#main-page #left-panel .ui-listview li:first-child a{
    padding-top: 2.85em;
    text-align: center;
    padding-bottom: 2.85em;
}

#main-page #left-panel .ui-listview li a {
    font-size:1.5em;
    font-weight:bold;
    line-height: 22px;
    font-family: "Reenie Beanie", cursive;
    text-align: left;
    padding-top: .7em;
    padding-right: 1.5em;
}
